<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://unpkg.com/vue@3"></script> 
        <title>FrontPassord</title>
    </head>

    <body>
        <center>    
        <img src="static/Front_symbol_black.png" width="110" height="60">

        <!-- <h1>Login</h1> -->
        

        <!-- <form class="login-form" action="/dashboard"> -->
        <div id="dashboard-box">
        <form class="login-form" action="/" method="post">
            
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="output" name="username" maxlength="50" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="output" maxlength="50" required>
            </div>
            <div class="input-group">
                <input type="submit" value="Login" class="logout-btn">
            </div>
        </form>
        </div>
        </center>

    <script src="/static/app.js"></script>
    </body>
</html>